<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add some userEntity</title>
    </head>

<body>
<h2>Добавить нового пользователя</h2>
<div id="form">
<form  th:method="POST" th:action="@{/admin/add}" th:object= "${user}">
  <label for="name">Пользователь: </label>
  <input required type="text" th:field="*{userName}" id="name"><br><br>

  <label for="f_name">Имя: </label>
  <input type="text" th:field="*{firstName}" id="f_name"><br><br>

  <label for="l_name">Фамилия: </label>
  <input type="text" th:field="*{lastName}" id="l_name"><br><br>

  <label for="email">Почта: </label>
  <input type="text" th:field="*{email}" id="email"><br><br>

  <label for="pass">Пароль: </label>
  <input required type="text" th:field="*{password}" id="pass"><br><br>

  <label for="role-select">Выберите роли:</label><br><br>
  <select id="role-select" required class="form-control" th:field="*{roles}" multiple="multiple" >
    <option th:each="role : ${users_roles}"
    th:field="*{roles}"
    th:value="${role.id}"
    th:text="${role.name}">Role name
    </option>
  </select>

  <br>
  <br>
  <input type="submit" value="Создать">

</form>
</div>
</body>
</html>