<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>Admin page!</h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1>

<div align="center">
    <h2>Пользователи</h2>
    <h3><a href="/admin/add">Добавить пользователя</a></h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Почта</th>
            <th>Пароль</th>
            <th>Права</th>
            <th>Действителен?</th>
            <th>Действие</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.id}">...</td>
                <td th:text="${user.userName}">...</td>
                <td th:text="${user.email}">...</td>
                <td th:text="${user.password}">...</td>
                <td th:text="${user.roles}">...</td>
                <td th:text="${user.active}">...</td>
                <td><a th:href="@{/admin/edit/{id}(id=${user.getId()})}">Изменить</a></td>
                <td><a th:href="@{/admin/delete/{id}(id=${user.getId()})}">Удалить</a></td>
            </tr>
        </th:block>
    </table>

</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>