<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>Admin page!</h1>
<h1 th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</h1>

<div align="center">
    <h2>Пользователи</h2>
    <h3><a href="/admin/add">Добавить пользователя</a></h3>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Пользователь</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Пароль</th>
            <th>Почта</th>
            <th>Роли</th>
            <th>Действие</th>
        </tr>
        <th:block th:each="userEntity : ${users}">
            <tr>
                <td th:text="${userEntity.id}">...</td>
                <td th:text="${userEntity.userName}">...</td>
                <td th:text="${userEntity.firstName}">...</td>
                <td th:text="${userEntity.lastName}">...</td>
                <td th:text="${userEntity.password}">...</td>
                <td th:text="${userEntity.email}">...</td>
                <td>
                <th:block th:each="role : ${userEntity.roles}">
                    <span th:text="${role.name}"></span>
                </th:block>
                </td>
                <td><a th:href="@{/admin/edit/{id}(id=${userEntity.getId()})}">Изменить</a></td>
                <td><a th:href="@{/admin/delete/{id}(id=${userEntity.getId()})}">Удалить</a></td>
            </tr>
        </th:block>
    </table>

</div><br>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>